.header_temp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__logo {
        margin-left: 25% !important;
    }
}

.main__background {
    max-width: 100%;
    position: relative;
    top: 1rem;
    z-index: -1;
}

.main_temp {
    background-color: $background_color;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-bottom: 3rem;
    @include large_screen {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5rem repeat(3, 4rem 8rem) 5rem;
        gap: 1.2rem;
    }
    &__title {
        font-family: 'Shrikhand', cursive;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-decoration: underline;
        @include large_screen {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }
    &__menu_title {
        margin-bottom: 1.2rem;
        justify-content: flex-start;
    }
    &__decobar {
        width: 10%;
        border-top: solid 0.2rem $color_tertiary;
        margin-bottom: 1.2rem;
        @include medium-screen {
            width: 100%;
        }
    }
    &__box {
        @include box_template;
        &:hover>&__anim {
            display: flex;
        }
        &__tittle {
            font-size: 16px;
            font-weight: bolder;
            margin: 1.5rem;
            font-weight: bold;
            position: absolute;
            // grid-column: 1/2;
            // grid-column: 1/2;
            width: 75%;
            margin: 0rem;
            top: 0.2rem;
            left: 0.5rem;
        }
        &__descrip {
            // grid-column: 1/2;
            // grid-row: 2/3;
            width: 75%;
            margin: 0rem;
            align-self: end;
            overflow: hidden;
            text-overflow: ellipsis;
            justify-self: flex-end;
            bottom: 0.2rem;
            left: 0rem;
            padding: 0.5rem;
        }
        &__price {
            // grid-column: 2/3;
            // grid-row: 2/3;
            font-weight: bolder;
            margin: 0rem;
            align-self: center;
            justify-self: flex-end;
        }
        &__anim {
            display: none;
            // grid-column: 3/4;
            // grid-row: 1/3;
            width: 15%;
            height: 100%;
            background-color: $color_tertiary;
            color: white;
            border-radius: 0rem 1rem 1rem 0rem;
            align-items: center;
            justify-content: center;
        }
    }
    .button_centered {
        align-self: center;
        justify-self: center;
    }
}

@include large_screen {
    .grid_entree {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
    }
    .gridbox_1 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .gridbox_2 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .gridbox_3 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .grid_plat {
        grid-column: 2/3;
        grid-row: 4/5;
        align-self: center;
        justify-self: center;
        width: auto;
    }
    .gridbox_4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .gridbox_5 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .gridbox_6 {
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .grid_dessert {
        grid-column: 2/3;
        grid-row: 6/7;
        align-self: center;
        justify-self: center;
    }
    .gridbox_7 {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .gridbox_8 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .gridbox_9 {
        grid-column: 3/4;
        grid-row: 7/8;
    }
    .grid_button {
        grid-column: 2/3;
        grid-row: 8/9;
    }
}