//couleurs utilisés
$color_gradient_1: linear-gradient(#9356DC, #FF79DA);
$color_gradient_2:linear-grandient(#d0aaff, #ffbbec);
$color-gradient_3:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(147, 86, 220, 1) 100%);
$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;
$color-quaternary:#7e7e7e;
$background_color:#eaeaea;
$background_color_secondary:#f6f6f6;
//ombre générique des boites
$background_footer:#353535;
$box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.66);
//variables animation apparition menu
$animation_duration:2000ms;
//dimensions boutton dégradé
$button_width:13.75rem;
$button_height:3.25rem;