a {
    color: black;
    text-decoration: none;
}

.footer {
    background: $background_footer;
    display: flex;
    flex-direction: column;
    padding: 1.56rem;
    &__logo {
        height: 1rem;
        width: 5.93rem;
        filter: invert(1);
    }
    &__link {
        padding-left: 0px;
    }
    &__link ul {
        color: white;
    }
    &__link li {
        margin-bottom: 5px;
        list-style: none;
        padding-left: 0px;
    }
    &__link li a {
        color: white;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    li i {
        margin-right: 0.5rem;
        color: white;
    }
    @include medium-screen {
        justify-content: center;
    }
}